.ContactPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
  }

  .contact-list {
    width: 32vh;
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
  
    li {
      display: inline-block; /* Required for transition */
      width: 25px;
      height: 25px;
      margin-right: 25px;
      transition: transform 0.2s ease;
    }
  
    li:hover {
      transform: translateY(-10px);
    }
  }
  

  @media only screen and (max-width: 1000px) {
    .ContactPanel {
        width: 100%;
        background-color: #171c28; 
      }
    .contact-list {
      background-color: #171c28; 
    }
  }  