.intro-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .intro-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    h1 {
      margin-top: 10px;
      margin-bottom: 0px;
      color: var(--accent-color);
      font-size: x-large;
    }
  
    h3 {
      margin: 0;
      font-size: large;
    }
  }
  
  .intro-pic {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  
    img {
      width: 50%;
      box-shadow: 10px 10px var(--accent-color);
      border-radius: 8px;
      opacity: 80%;
    }
  }
  
  
  .intro-url {
    text-decoration: none;
    transition: transform 0.5s ease;
    color: inherit;
    font-weight: 600;
    display: inline-block;
    line-height: 1.5em;
    margin-bottom: 10px;
  }
  
  .intro-url:hover {
    transform: translateX(10px);
    text-decoration: underline dashed var(--accent-color) 2px;
    text-underline-offset: 6px;
  }

  