.icon-dark {
    path {
      fill: var(--base-text-color);
    }
  }
  
  .icon-light {
    path {
      fill: var(--base-bg-color);
    }
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%; /* Ensure the list takes full width */
  }
  
  .contact-list li {
    margin-bottom: 100px; /* Increase the space between icons */
    width: 100%; /* Each list item takes full width */
  }
  
  .contact-list a {
    display: block;
    width: 100%; /* Make the anchor tag take full width */
    text-align: center; /* Center the icon within the anchor tag */
  }
  
  .contact-list svg {
    width: 60%; /* Make the icon size proportional to the container */
    height: auto; /* Maintain aspect ratio */
  }
  