/* General styles */
.wrap {
  width: 100%;
  display: flex;
  background-color: #171c28;
  align-items: center;
}

/* Left panel (desktop view) */
.leftPanel {
  display: flex;
  background-color: #171c28;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

/* Right panel (desktop view) */
.rightPanel {
  overflow-y: auto;
}



/* Desktop view (min-width: 800px) */
@media only screen and (min-width: 1000px) {
  .wrap {
    flex-direction: row; /* Side-by-side layout */
  }

  .leftPanel {
    width: 30%; /* Left panel takes 30% width */
  }

  .rightPanel {
    width: 65%; /* Right panel takes 65% width */
    max-height: 100vh;
    padding: 0% 3% 0% 3%;
  }
}

/* Mobile view (max-width: 800px) */
@media only screen and (max-width: 1000px) {
  .wrap {
    flex-direction: column; /* Stack all panels vertically */
    overflow-y: scroll;
  }

  .leftPanel, .contactPanel {
    width: 90%; /* Each panel takes 90% width */
    margin: 0 auto; /* Center content */
  }
  .rightPanel{
    width: 90%; /* Each panel takes 90% width */
    margin: 0 auto; /* Center content */
    padding-bottom: 70px;
  }
}
